<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

    <!-- Centered Box -->
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <div class="text-center mb-6">
            <h1 class="text-4xl font-extrabold text-green-500">Change Password</h1>
        </div>

        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="p-4 mb-4 rounded-lg text-white 
                        {% if message.tags == 'success' %}bg-green-500
                        {% elif message.tags == 'error' %}bg-red-500
                        {% elif message.tags == 'warning' %}bg-yellow-500
                        {% elif message.tags == 'info' %}bg-blue-500
                        {% else %}bg-gray-500{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <form method="POST">
            {% csrf_token %}

             <div class="mb-4">
                <label for="firstname" class="block text-sm font-medium text-gray-700">First Name</label>
                <input type="text" name="firstname" id="firstname" class="block w-full p-2 border border-gray-300 rounded" required>
            </div>

             <div class="mb-4">
                <label for="lastname" class="block text-sm font-medium text-gray-700">Last Name</label>
                <input type="text" name="lastname" id="lastname" class="block w-full p-2 border border-gray-300 rounded" required>
            </div>
            
            <div class="mb-4">
                <label for="password1" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" name="password1" id="password1" class="block w-full p-2 border border-gray-300 rounded" required>
            </div>

            <div class="mb-4">
                <label for="password2" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input type="password2" name="password2" id="password2" class="block w-full p-2 border border-gray-300 rounded" required>
            </div>


            <button type="submit" class="bg-blue-500 text-white p-2 w-full rounded hover:bg-blue-600">
                Change Password
            </button>
        </form>


        <div class="text-center mt-4">
            <p><a href="{% url 'registration' %}" class="text-blue-600 hover:text-blue-800">Don't have an account? Register here</a></p>
        </div>
    </div>

</body>
</html>
