{% extends "base.html" %}

{% block title %}Our Tickets{% endblock %}

{% block content %}
<div class="bg-gray-100 px-2 text-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-6xl font-extrabold text-green-500">Manage Tickets</h1>
    </div>
    <br>
    {% if user.role == 'admin' %}
    <a href="/create_tickets" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
       Create New Ticket
    </a>
    {% endif %}

    <br/>
    <br/>

    {% if tickets %}
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
            {% for i in column_name %} 
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">{{i}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for ticket in tickets %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ticket.id}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ticket.title}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                    {{ ticket.assigned_member.username }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-800 text-white">{{ticket.status}}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap flex item-center justify-center">
                    {% if user.role == 'admin' %}
                        <a href="{% url 'view_ticket' pk=ticket.id %}" class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out">View</a>
                        <a href="{% url 'delete_ticket' pk=ticket.id %}" class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out">Delete</a>
                    {%else%}
                        <a href="{% url 'view_ticket' pk=ticket.id %}" class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out">View</a>          
                        <a href="{% url 'solve_ticket' pk=ticket.id %}" class="ml-2 px-4 py-2 font-medium text-white bg-green-600 rounded-md hover:bg-green-500 focus:outline-none focus:shadow-outline-red active:bg-green-600 transition duration-150 ease-in-out">Replay</a>
                    {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-lg text-gray-500">No tickets available.</p>
    {% endif %}
</div>

{% endblock %}
